.footer-container{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: #0b1418;
    color: white;
}

.footer-wraper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.links-title{
    text-transform: uppercase;
    font-weight: bold;
}
.common-styles{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.common-styles a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
   
}

.common-styles a:hover {
    text-decoration: underline;
    scale: 1.1;
    transition: scale 200ms ease-in-out;
}

.copy-rights{
    text-align: center;
    background-color: #fdfeff;
    color: black;
}