<footer>
    <article>

        <div>
            <h5>Useful Links</h5>
            <a routerLink="/">Home</a>
            <a routerLink="/job-search">Job Search</a>
            <a routerLink="/calendar">Calendar</a>
        </div>
        <div>
            <h5>infomation</h5>
            <a routerLink="#">About Us</a>
            <a routerLink="#">Terms of Use</a>
            <a routerLink="#">Cookies policy</a>
        </div>
    </article>
    <article>
        <p>© Copyright 2023 Made by <a href='https://k-websolutions.netlify.app/' target="_blank">K-Websolutions</a></p>
    </article>

</footer>