<footer class="footer-container">
    <article class="footer-wraper">
        <div class="common-styles useful-links">
            <h5 class="links-title">Useful Links</h5>
            <a routerLink="/">Home</a>
            <a routerLink="/job-search">Job Search</a>
            <a routerLink="/calendar">Calendar</a>
        </div>
        <div class="common-styles infomation-links">
            <h5 class="links-title">infomation</h5>
            <a routerLink="#">About Us</a>
            <a routerLink="#">Terms of Use</a>
            <a routerLink="#">Cookies policy</a>
        </div>
    </article>
    <article class="copy-rights">
        <p>© Copyright 2023 Made by <a href='https://k-websolutions.netlify.app/' target="_blank">K-Websolutions</a></p>
    </article>

</footer>