.header-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, #1a2e35), color-stop(55%, #1cbbb4));
}

.header-links{
    position: relative;
    width: 55%;
    display: flex;
    align-items: center;
    gap: 20px;
  
}

.head-logo{
   
    padding: 10px 30px;
    flex-shrink: 0;
}
.head-logo img {
    width: 40px;
}

.link-list{
    transition: transform 500ms ease-in-out;
    display: flex;
    align-items: center;
    gap: 30px;
}


.link-list a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.user-link{
    display: flex;
    align-items: center;
    gap: 30px;
    transition: transform 500ms ease-in-out;
    width: 100%;
    justify-content: flex-end;

}

.user-link a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
.header-user-section{
    
    flex-grow: 1;
   
    display:  flex;
    align-items: center;
    justify-content: center;
}

.hamburger-menu{
    padding: 2px 26px;
}

.uil{
    font-size: 35px;
    cursor: pointer;
}

.btn-close{
    padding: 0px 26px;
    font-size: 48px;
    cursor: pointer;
    margin-top: -11.8px;
}