.header-container{
    display: flex;
    justify-content: space-between;
    background: -webkit-gradient(linear, left top, right top, color-stop(55%, #1a2e35), color-stop(55%, #1cbbb4));
}

.header-links{
    position: relative;
    width: 55%;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid red;
}

.head-logo{
    border: 1px solid yellow;
    padding: 10px 30px;
}
.head-logo img {
    width: 40px;
}

.link-list{
    position: absolute;
    left: 120px;
    transition: 1s ease-in-out;
    display: flex;
    align-items: center;
    gap: 30px;
}
.ofset{
    /* left: 2300px; */
}

.link-list a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
.header-user-section{
    
    flex-grow: 1;
    border: 1px solid green;
}