<section class="home-section">
    <div class="home-wraper">
        <div class="home-content">
            <h1 class="home-title">Find your dream job or post yours</h1>
            <p class="home-text">Your trusted partner</p>
            <div class="home-btn">
                <div>
                    <a class="btn" routerLink="/job-search">Search Job</a>
                </div>
                <div>
                    <a class="btn" routerLink="/post-job">Post Job</a>
                </div>
            </div>
        </div>
    </div>
    <div class="home-image">
        <img src="assets/slider_img.png" alt="pick" />
    </div>
</section>