<section class="registration-container">
    <article *ngIf="registration" class="registration-card-container">
        <div class="card" (click)="onClickJobseeker()">
            <i class="uil uil-estate"></i>
            <h2 class="card-title">Registration for Jobseeker</h2>
            <p class="card-description">By registering, you will gain access to all JobTigers services for job seekers. JobTigers services for
                jobseekers are free of charge.</p>
            <div class="btn">Select</div>
        </div>
        <div class="card">
            <i class="uil uil-bag"></i>
            <h2 class="card-title">Registration of Employer</h2>
            <p class="card-description">By registering you will gain access to JobTigers section For Employers and all services JobTiger offers
                for employers. The registration is free of charge.</p>
            <div class="btn" (click)="onClickEmployer()">Select</div>
        </div>
    </article>
    <app-employer *ngIf="employer"></app-employer>
    <app-jobseeker *ngIf="jobseeker"></app-jobseeker>
</section>