<section class="registration-container">
    <article class="registration-card-container">
        <div class="card">
            <i class="uil uil-estate"></i>
            <h2>Registration for Jobseeker</h2>
            <p>By registering, you will gain access to all JobTigers services for job seekers. JobTigers services for
                jobseekers are free of charge.</p>
            <div>Select</div>
        </div>
        <div class="card">
            <i class="uil uil-bag"></i>
            <h2>Registration of Employer</h2>
            <p>By registering you will gain access to JobTigers section For Employers and all services JobTiger offers
                for employers. The registration is free of charge.</p>
            <div>Select</div>
        </div>
    </article>
    <app-employer></app-employer>
    <app-jobseeker></app-jobseeker>
</section>