.article-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: center; */
}

.h{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0) 11%, rgba(0, 0, 0, 0.53));
    display: flex;
    justify-content: space-between;
    
}

.wrapper{
    max-width: 880px;
    border: 1px solid green;
}

.logo-box{
    position: absolute;
    bottom: -128px;
    right: 0;
    width: 256px;
    height: 256px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #c4c4c4;
}

.logo-wrapper{
   background-color: white;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px; 
}

.side-container{
    border: 1px solid red;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 228px;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
}

.side-container > p{
    margin: 0;
}

/* .logo-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */