<section>
    <header class="h">
        <h2>{{jobDetail.posted_from}}</h2>
        <div class="logo-box">
            <div class="logo-wrapper">
                <img class="logo-img" src="{{jobDetail.logoUrl}}" alt="logo" />
            </div>
        </div>
    </header>
    <div class="article-container">
        <article class="wrapper">
            <h2>{{jobDetail.title}}</h2>

            <div *ngIf="jobDetail.about_us.length !== 0">
                <h2>For us</h2>
                <p>{{jobDetail.about_us}}</p>
            </div>
            <div>
                <h2>Responsibilities</h2>
                <p>{{jobDetail.responsibilities}}</p>
            </div>
            <div>
                <h2>Requirements and necessary skills</h2>
                <p>{{jobDetail.necessary_sklils}}</p>
            </div>
            <div>
                <h2>We offer</h2>
                <p>{{jobDetail.we_offer}}</p>
            </div>
        </article>
        <aside class="side-container">
            <p class="side-title">{{jobDetail.posted_at}} - {{jobDetail.title}}</p>
            <p> <i class="uil uil-map-marker"></i>{{jobDetail.location}}</p>
            <p><i class="uil uil-suitcase"></i>{{jobDetail.work}}</p>
            <p> {{jobDetail.deadLine}}</p>
            <p><i class="uil uil-usd-circle"></i> {{jobDetail.salary}}</p>
            <p><i class="uil uil-clock-five"></i> {{jobDetail.schedule}}</p>
            <p><i class="uil uil-arrow-growth"></i>{{jobDetail.suitable_for}}</p>
            <p> <i class="uil uil-head-side"></i>{{jobDetail.experience}}</p>

        </aside>
    </div>
</section>